/* Reset and Fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Navigation Bar */
.navbar {
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    backdrop-filter: blur(14px);
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    letter-spacing: 3px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    background: linear-gradient(90deg, rgba(7, 202, 148, 1), rgba(162, 40, 212, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    font-size: 1.5em;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Hero Section */
.hero {
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
    background-image: url('assets/hero-bg.svg');
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
}

.hero .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero h1 {
    font-size: 4em;
    text-transform: uppercase;
    line-height: 1.2;
}

.hero h4 {
    margin-top: 20px;
    font-size: 1.8em;
    font-weight: 400;
}

.hero p {
    font-size: 1.2em;
}

.hero .btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #45a049;
}

.logos {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.logos p {
    text-transform: uppercase;
    text-align: center;
    color: #47BAAD;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
}

.logo-carousel {
    overflow: hidden;
}

.logo-track {
    display: flex;
    animation: scroll 30s linear infinite;
}

.logo-track img {
    margin: 0 20px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/*About section*/
.about {
    background-image: url('assets/about-bg.png');
    background-size: cover;
    background-position: center;
    height: 130vh;
}

.about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39vw;
}


.section-header {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    background: linear-gradient(-40deg, #19FB9B, #8C01FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}

.about p {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 20px;
    color:  #C4C4C4;
    text-align: center;
}

.about-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    gap: 8px
}

.about .card {
    padding: 32px;
    backdrop-filter: blur(14px);
}

.color-line {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -4px;
    margin-right: 18px;
    width: 2px;
    height: 30px;
}

.yellow-line {
    background-color: #FFD512;
}

.blue-line {
    background-color: #1FCFF1;
}

.purple-line {
    background-color: #9945FF;
}

.green-line {
    background-color: #19FB9B;
}

.about-cards h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #FFFFFF;
    display: inline;
}

.about-cards > div:nth-child(2) {
    margin-top: 40px;
}

/* Stories Section */
.stories {
    background-image: url('assets/stories-bg.svg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.stories .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stories-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39vw;
    gap: 10px;
}

.stories-text p {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
}




/* Contact Section */
.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/contact-bg.svg');
    background-size: cover;
    background-position: center;
    filter: blur(18px);
    z-index: 1;
}

.contact {
    position: relative;
    overflow: hidden;
    background-color: #000;
    height: 100vh;
}
.contact > * {
    position: relative;
    z-index: 2;
}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39vw;
    gap: 10px;
}

.contact-text h4 {
   font-size: 24px;
   font-weight: 400;
   color: #FFFFFF;
}

.contact-text h1 {
    font-size: 64px;
    font-weight: 400;
    background: linear-gradient(10deg, #19FB9B, #8C01FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar .nav-links.mobile-menu {
        display: flex;
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .service-cards .card {
        flex: 1 1 100%;
    }

    .hero {
        padding: 150px 0 100px;
    }

    .hero h1 {
        font-size: 2.5em;
    }
}

/* Carousel Styles */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    max-width: 70vw;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-card {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    gap: 60px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    align-items: center;
    height: fit-content;
}

.carousel-image {
    width: 40%;
    border-radius: 8px;
    object-fit: cover;
}

.carousel-content {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
}

.carousel-content .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-content h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.carousel-content .category {
    background: #111;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}

.carousel-content p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

.carousel-content .link {
    color: #9b5de5;
    font-weight: bold;
    text-decoration: none;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.carousel-controls .button-group {
    display: flex;
    gap: 8px;
}

.carousel-controls button {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid #A962FF;
    padding: 12px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.carousel-controls button:hover {
    background: #A962FF;
    color: #000;
}


.carousel-dots {
    display: flex;
    gap: 10px;
}

.carousel-dots button {
    width: 14px;
    height: 14px;
    border: 1px solid #6176D1;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
    padding: 0;
}

.carousel-dots button.active {
    background-color: #3EBFB4;
}


/* Contact */

.contact .container {
    gap: 40px
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.full {
    width: 100%;
}

.contact-form label {
    font-size: 14px;
    color: white;
    margin-bottom: 6px;
    font-weight: 300;
}

.contact-form-container {
    display: flex;
    gap: 60px;
    width: 100%;
    justify-content: space-around;
}

.contact-form-container .contact-info {
    width: 48%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-card p {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 14px;
}

.contact-card h5 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
}

.contact-form input,
.contact-form textarea {
    background-color: #231425;
    border: none;
    border-radius: 25px;
    padding: 16px 24px;
    color: white;
    font-size: 16px;
}

.contact-form textarea {
    border-radius: 25px;
    resize: none;
}

.submit-btn {
    display: flex;
    justify-content: flex-end;
}

.submit-btn button {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 14px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn button:hover {
    background-color: #e0e0e0;
}

.footer {
    background-color: #000000;
}

.footer .container {
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.footer-text p {
   color: #848895;
   font-size: 16px;
    font-weight: 300;
}

.footer .icons a {
    text-decoration: none;
}

.footer .icons a img {
    transition: filter 0.3s ease;
}

.footer .icons a:hover img {
    filter: invert(37%) sepia(98%) saturate(1873%) hue-rotate(176deg) brightness(100%) contrast(94%);
}

.footer .icons {
    display: flex;
    gap: 28px;
}


/*responsive rules*/
@media (max-width: 768px) {
    .hero {
        padding: 100px 20px 60px;
        text-align: center;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero h4 {
        font-size: 1.2em;
    }

    .logos {
        position: static;
        margin-top: 40px;
    }

    .about {
        height: auto;
        padding: 60px 20px;
    }

    .about .container {
        flex-direction: column;
        gap: 30px;
    }

    .about-text, .stories-text, .contact-text {
        width: 100%;
    }

    .about-cards {
        flex-direction: column;
        align-items: center;
    }

    .about-cards > div:nth-child(2) {
        margin-top: 0;
    }

    .about .card {
        width: 100%;
    }

    .stories {
        height: auto !important;
        padding: 40px 20px;
    }

    .stories .container {
        height: auto !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-card {
        flex-direction: column;
        padding: 16px;
        gap: 16px;
        width: 100%;
    }

    .carousel-content, .carousel-image {
        width: 100%;
    }

    .carousel-controls {
        margin-top: 10px;
        align-self: center;
    }

    .contact {
        height: auto;
        padding: 60px 20px;
    }

    .contact-form-container {
        flex-direction: column;
        gap: 30px;
    }

    .contact-form-container .contact-info {
        width: 100%;
    }

    .form-row {
        flex-direction: column;
    }

    .submit-btn {
        justify-content: center;
    }

    .footer .container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .carousel {
        max-width: 90vw;
    }

    .navbar .nav-links {
        width: 100%;
    }
}

