/* Reset and Fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Navigation Bar */
.navbar {
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    backdrop-filter: blur(14px);
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    letter-spacing: 3px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    background: linear-gradient(90deg, rgba(7, 202, 148, 1), rgba(162, 40, 212, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    font-size: 1.5em;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Hero Section */
.hero {
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
    background-image: url('assets/hero-bg.svg');
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
}

.hero .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero h1 {
    font-size: 4em;
    text-transform: uppercase;
    line-height: 1.2;
}

.hero h4 {
    margin-top: 20px;
    font-size: 1.8em;
    font-weight: 400;
}

.hero p {
    font-size: 1.2em;
}

.hero .btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #45a049;
}

.logos {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.logos p {
    text-transform: uppercase;
    text-align: center;
    color: #47BAAD;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
}

.logo-carousel {
    overflow: hidden;
}

.logo-track {
    display: flex;
    animation: scroll 30s linear infinite;
}

.logo-track img {
    margin: 0 20px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/*About section*/
.about {
    background-image: url('assets/about-bg.png');
    background-size: cover;
    background-position: center;
    height: 130vh;
}

.about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39vw;
}

.about-text h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    background: linear-gradient(10deg, #19FB9B, #8C01FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.about p {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-align: center;
}


/* Stories Section */
.stories {
    background-image: url('assets/stories-bg.svg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/contact-bg.svg');
    background-size: cover;
    background-position: center;
    filter: blur(18px);
    z-index: 1;
}

.contact {
    position: relative;
    overflow: hidden;
    background-color: #000;
    height: 100vh;
}

/* Ensure your content stays above the blurred background */
.contact > * {
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar .nav-links.mobile-menu {
        display: flex;
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .service-cards .card {
        flex: 1 1 100%;
    }

    .hero {
        padding: 150px 0 100px;
    }

    .hero h1 {
        font-size: 2.5em;
    }
}
